.chbi-lifting-app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;

  .chbi-lifting-app-shell-container{
    flex: 1;
    overflow-y: auto;
  }
}