@import '../../../app/styles/globals.scss';
@import '../../../app/styles/variables.scss';

.chbi-lifting-progress-container {
    background-color: $color-accent;
    border-radius: 20px;
    height: 5px;
    margin-top: 16px;
    width: 60%;
}